.navbarContainer {
    width: 100%;
    margin: auto;
    padding-bottom: 5%;
    background-color:#474F54;
}

.navbar {
    width: 100%;
    margin: auto;
    color: gray;
    padding-top: 2%;
    font-size: 1em;
    text-align: center;
}

.navbar a::after {
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 0;
    height: 8px;
    content: "";
    transition: width .15s;
}

.navbar a {
    text-transform: uppercase;
    letter-spacing: .025em;
    text-decoration: none;
    transition: all .4s ease;
    color: #fff;
    background: #474F54;
    font-size: .9em;
    font-weight: 500;
    padding: 0% 5% 5% 5%;
    text-decoration: none;
    display: inline-block;
}

.navbar a:hover {
    color:#F8D451;
    letter-spacing: 5px;
    
}