html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Dosis', serif;
	font-weight: 400;
	background-color:rgb(253, 253, 251);
}

body::-webkit-scrollbar {
	display: none; /* for Chrome, Safari, and Opera */
}

.yellow {
    color: #F8D451;
    padding:0;
}

@media (max-width: 715px) { 
	.projectScreenshot {
		display:none;
	}
	.projectContent {
		width: 100%;
		text-align: center;
	}

	.projectContent p {
		margin-left:10%;
	}

	.projectCard a {
		margin: 10px 10px 0 20px;
	}

	.projectSkills {
		justify-content: center;
		padding-right: 0;
	}
	
}